<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyMMdd HHmmss.SSS} [%20.20t] %-5p %-50.50c{50} %4L - %m%n</pattern>
        </encoder>
    </appender>

    <springProfile name="!dev-pc">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/logs/web.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/logs/web-%d{yyMMdd}.log</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyMMdd HHmmss.SSS} [%20.20t] %-5p %-50.50c{50} %4L - %m%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root>
        <appender-ref ref="CONSOLE" />
        <springProfile name="!dev-pc">
            <appender-ref ref="FILE" />
        </springProfile>
    </root>

    <logger name="org.springframework" level="INFO" />

</configuration>